certifi==2024.7.4
cffi==1.15.1
charset-normalizer==3.1.0
docutils==0.20.1
fire==0.5.0
idna==3.7
iniconfig==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mysql==0.0.3
mysql-connector-python==9.1.0
mysqlclient==2.1.1
packaging==24.2
pip==23.3
pluggy==1.5.0
protobuf==3.20.3
pycparser==2.22
Pygments==2.16.1
PyQt3D==5.15.6
PyQt5==5.15.9
PyQt5-sip==12.12.1
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.6
PyQtWebEngine==5.15.6
pytest==7.4.2
pytest-html==4.0.2
pytest-metadata==3.1.1
python-dotenv==1.0.0
PyYAML==6.0.1
QScintilla==2.14.1
requests==2.32.0
setuptools==78.1.0
six==1.17.0
termcolor==2.2.0
typing_extensions==4.12.2
urllib3==2.2.2
wheel==0.41.2
